* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*-- HEADER-----------------*/

header {
  background-color: #2c3e50;
  overflow: hidden;
}

header:after {
  content: "";
  display: block;
  clear: both;
}

#logo {
  display: inline-block;

  padding: 10px 0 10px 0;
  float: left;
}
#logo-margin {
  margin-left: 15%;
}
#vid {
  color: #f1c40f;
  font-size: 50px;
}
#fun {
  color: #c0392b;
  font-size: 50px;
}

#user-box-login-register {
  display: inline-block;
  float: right;
  padding: 26px 0px 26px 0px;
  color: #95a5a6;
  margin-right: 10%;
}

.user-box {
  display: inline-block;
  margin-right: 10px;
}

.login {
  border: 1px solid #7f8c8d;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.login:hover {
  border: 1px solid white;
  color: white;
}

.register {
  border: 1px solid #7f8c8d;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  text-decoration: none;
}

.register:hover {
  border: 1px solid white;
  color: white;
}

.input {
  background-color: #2c3e50;
  border: 1px solid #7f8c8d;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  color: white;
  font-size: 15px;
  width: 100px;
}
.input:focus {
  outline: none;
  border: 1px solid white;
}

.login-btn {
  background-color: #2c3e50;
  color: #95a5a6;
  border-radius: 20px;
  border: 1px solid #7f8c8d;
  font-size: 15px;
  padding: 8px 10px 8px 10px;
  cursor: pointer;
  outline: none;
}

.login-btn:hover {
  border: 1px solid white;
  color: white;
}

#username-pass-id {
  display: inline-block;
}

.username-pass {
  position: relative;
  z-index: 10;
}

.user-info-container {
  opacity: 0;

  transform: translateX(200%);
  position: absolute;
  left: -220px;
  top: 3px;

  transition: transform 1s ease-in-out, opacity 1.5s ease-in-out;
}

.user-info-container.left {
  opacity: 1;
  transform: translateX(0%);
}

.link {
  text-decoration: none;
  color: #95a5a6;
}

/*------ END HEADER -------------*/
